


.container {
    display: flex; /* Mantém como flex para o layout principal */
    flex-direction: row; /* Garante que os itens sejam dispostos em linha */
    justify-content: space-between; /* Espalha os filhos para ocupar os extremos do contêiner */
    align-items: flex-start; /* Alinha itens ao topo */
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.day{
    background-image: url('container_dia.svg'); /* Caminho para sua imagem de dia */
    /* Outras propriedades de estilo conforme necessário */
}

.night{
    background-image: url('container_noite.svg'); /* Caminho para sua imagem de dia */
    /* Outras propriedades de estilo conforme necessário */
}
.city-name {
    /* Estilos para o nome da cidade */
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 5%;
    /* Alinha à esquerda automaticamente como o primeiro item flex */

}
.weather-stats{
    font-size:14px;
    font-weight: bold;
}
.weather-info {
    width: 40%;
    max-width: 159px;
    margin-right: 5%; /* Assegura que está alinhada à direita com espaçamento */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.weather-image {
    width: 30%; /* Tamanho relativo da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

.weather-stats {
    display: flex;
    flex-direction: row; /* Alinha os itens horizontalmente */
    justify-content: flex-start; /* Alinha itens à esquerda e permite que eles cresçam conforme necessário */
    flex-wrap: wrap; /* Permite que os itens se ajustem para a próxima linha se não houver espaço suficiente */
    gap: 10px; /* Espaço entre os itens */
    width: 100%; /* Ajuste a largura conforme necessário */
    padding: 10px;
    margin-top: 10px; /* Espaçamento acima da div de estatísticas */
    border-radius: 10px;
    background-color: #d3c8c800; /* Cor de fundo suave */
}

.stat-item {
    width: auto;
    height: 80px;
    padding: 2px;
    margin:7px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bebebe,
                -2px -2px 7px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.stat-item {
    width: 80px /* Três itens por linha, ajustando pelo gap */
    /* Restante do CSS para .stat-item */
}
.stat-item:hover {
    box-shadow: 2px 2px 5px #bebebe,
                -1px -1px 3px #ffffff;
}

.stat-icon {
    width: 30px; /* Define um tamanho fixo para a largura */
    height: 30px; /* Define um tamanho fixo para a altura */
    object-fit: cover; /* Garante que o conteúdo da imagem seja coberto, mantendo sua proporção */
    border-radius: 5px; /* Opcional: adiciona bordas arredondadas para as imagens */
    transition: transform 0.2s ease-in-out;
}

.stat-item:hover .stat-icon {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho do ícone ao passar o mouse */
}

#location-btn {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#location-btn:hover {
    background-color: #0056b3;
}
